<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Guwahati</string>
	<string>Delhi</string>
	<string>Moscow</string>
	<string>Tawang</string>
	<string>Hyderabad</string>
	<string>New York</string>
	<string>Tokyo</string>
	<string>Prague</string>
	<string>Sydney</string>
	<string>Pune</string>
</array>
</plist>
